@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Electronics Store</h1>
    
</div>


@if (Model.products.Count != 0)
{
    @foreach (ElectronicStoreWebApp.Models.Product products in Model.products)
    {
        <partial name="_ProductPartial" model="products" />
    }

}

