@model ElectronicStoreModels.Models.Product
@{
}

<section class="product-card">
    <header class="card-header">
        <h2>@Model.ProductName</h2>
        <p>@Model.ProductDesc</p>
    </header>
    <section class="card-numbers">
        <div><span>Price: CAD @Model.ProductPrice</span></div>
    </section>
</section>