@model IEnumerable<ElectronicStoreModels.Models.ProductCategory>

@{
    ViewData["Title"] = "Maintain Category";
}

<h1>Product Category Listing</h1>

<p>
    <a class="create-new-clickable" asp-action="Create">Create New Product Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a class="edit-clickable" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a class="delete-clickable" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
